Pillow==9.5.0
torch==1.11.0+cu113 torchvision==0.12.0+cu113 torchaudio==0.11.0 --extra-index-url https://download.pytorch.org/whl/cu113
numpy
tqdm
scipy
scikit-learn
yacs
albumentations
torch
torchvision
timm
matplotlib
tensorboard
einops